{% extends 'base.html' %} {% block head %}
<title>Homepage</title>
{% endblock %} 

{% block body %}
<div class="content">
  
  <h2 class="text-dark">Welcome to Medical Expertise Transfer System for Layman Patients</h4>
    <br/>
    <br/>
  <h4 class="text-dark">This webapp is built in aid for layman patients in the medical domain</h4>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  <h4 class="text-dark">We provide the following  features</h4>
    <br/>
    <br/>
  <ul>
    <li>Expertise Classifier : Can classify the expertise percentage given a text</li>
    <li>Expert to Layman : Given an expert text, we can convert that into layman text</li>
  </ul>
  
{% endblock %}
